# compiled output
**/dist
**/node_modules

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# OS
.DS_Store

# Tests
/backend/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/*.code-workspace

# override files
**/*.override.*

# Environment 
*.env*
!.env.example

# configuration
**/*.config.json

# Prisma seeds files
/backend/prisma/seeds/**

# dependencies
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
/frontend/.next
/frontend/out